@font-face {font-family: 'noto sans kr';
    src: url("fonts/NotoSansKR-Thin.otf") format("opentype"); font-weight: 100;}

@font-face {font-family: 'noto sans kr';
    src: url("fonts/NotoSansKR-Light.otf") format("opentype"); font-weight: 200;}

@font-face {font-family: 'noto sans kr';
    src: url("fonts/NotoSansKR-Regular.otf") format("opentype"); font-weight: 400;}

@font-face {font-family: 'noto sans kr';
    src: url("fonts/NotoSansKR-Medium.otf") format("opentype"); font-weight: 600;}

@font-face {font-family: 'noto sans kr';
    src: url("fonts/NotoSansKR-Bold.otf") format("opentype"); font-weight: 700;}

@font-face {font-family: 'noto sans kr';
    src: url("fonts/NOTOSANSKR-BLACK.otf") format("opentype"); font-weight: 900;}

/* 공통 */
*{margin: 0; padding: 0;}
html, body{width: 100%; height: 100%; font-family: noto sans kr;}
h1, h2, p, span{line-height: 100%;}
ul,li{list-style: none;}

/* 버튼 */
#wrap{height: 2022px; position: relative;}
.button{width: 118px; height: 38px; position: absolute; left: 60px; top: 45px;}
.round{width: 114px; height: 34px; border-radius: 50px; border: 2px solid black; text-decoration: none;}
.round>img{width: 18px; height: 18px; float: left; margin: 8px 0 0 17px;}
.round>p{font-size: 24px; float: right; line-height: 34px; padding-right: 18px; color: black; font-weight: 200;}
.round:after{display: block; content: ""; clear: both;}
.round>img:nth-child(2){display: none;}
.round:hover{background-color: black;}
.round:hover>img:nth-child(1){display: none;}
.round:hover>img:nth-child(2){display: block;}
.round:hover>p{color: white;}

/* 컨텐츠 */
.inner{width: 1440px; margin: 0 auto; text-align: center;}
h1{font-size: 44px; font-weight: 900; padding-top: 80px;}
.web{width: 1440px; margin-top: 80px;}
.main>p{font-size: 22px; font-weight: 600;}
.web_wrap{width: 1440px; height: 758px; border: 2px solid black; box-sizing: border-box; overflow-y: scroll; margin-top: 45px;}
.main_web{background-image: url(../img/CGV-웹페이지.jpg); width: 100%; height: 4924px; background-size: contain; background-repeat: no-repeat;}
.web_wrap::-webkit-scrollbar{
    width: 0px; height: 0px;
}
.web_wrap::-webkit-scrollbar-button{
    width: 0px; height: 0px;
}
.tab{width: 1024px; float: left;}
.mob{width: 375px; float: right;}
.reaction:after{display: block; content: ""; clear: both;}
.tab>p,.mob>p{padding-top: 45px;}
.tab_wrap{width: 1024px; height: 752px; box-sizing: border-box; border: 2px solid black; margin-top: 45px; overflow-y: scroll;}
.main_tab{background-image: url(../img/서울시청년활동지원센터-tablet_w.jpg); width: 100%; height: 4104px; background-size: contain; background-repeat: no-repeat;}
.tab_wrap::-webkit-scrollbar{
    width: 0px; height: 0px;
}
.tab_wrap::-webkit-scrollbar-button{
    width: 0px; height: 0px;
}
.mob_wrap{width: 375px; height: 812px; box-sizing: border-box; border: 2px solid black; margin-top: 45px; overflow-y: scroll;}
.main_mob{background-image: url(../img/서울시청년활동지원센터-moboile.jpg); width: 100%; height: 3320px; background-size: contain; background-repeat: no-repeat;}
.mob_wrap::-webkit-scrollbar{
    width: 0px; height: 0px;
}
.mob_wrap::-webkit-scrollbar-button{
    width: 0px; height: 0px;
}
h2{font-size: 30px; padding-top: 80px;}
.text p{font-size: 18px; padding-top: 20px;}
.text span{line-height: 24px;}
.main_color>div{width: 76px; height: 18px; background-color: #ee1c25; border-radius: 50px; margin: 10px auto 5px;}
.main_color>p:nth-child(3){padding: 0; font-size: 16px;}
.line{margin: 0 auto; width: 248px;}
.line>div{float: left;}
.sub_color:after{display: block; content: ""; clear: both;}
.color1>div{width: 76px; height: 18px; background-color: #f69625; border-radius: 50px; margin: 10px auto 5px;}
.color1>p{padding: 0;}
.color2>div{width: 76px; height: 18px; background-color: #2d2d2d; border-radius: 50px; margin: 10px auto 5px;}
.color2>p{padding: 0;}
.color3>div{width: 76px; height: 18px; background-color: #000000; border-radius: 50px; margin: 10px auto 5px;}
.color3>p{padding: 0;}
.color2,.color3{margin-left: 10px;}
.font>p,.font>div{float: left;}
.font:after{display: block; content: ""; clear: both;}
.font{margin: 0 auto; width: fit-content;}
.weight{margin: 0 52px 0 20px;}
.weight>p:nth-child(2),.example>p:nth-child(2){font-weight: 600;}
.weight>p:nth-child(3),.example>p:nth-child(3){font-weight: 700;}
.sub>p{font-size: 22px; font-weight: 600;}
.sub.web{margin-top: 148px;}
.sub_web{background-image: url(../img/서울시청년활동지원센터-sub1.jpg); width: 100%; height: 2692px; background-size: contain; background-repeat: no-repeat;}
.sub_tab{background-image: url(../img/서울시청년활동지원센터-sub1-tablet_w.jpg); width: 100%; height: 3880px; background-size: contain; background-repeat: no-repeat;}
.sub_mob{background-image: url(../img/서울시청년활동지원센터-sub1-moboile.jpg); width: 100%; height: 2728px; background-size: contain; background-repeat: no-repeat;}

/* 스크롤 */
#wrap{position: relative; border-bottom: 2px solid black; box-sizing: border-box;}
.arrow_up{width: 114px; height: 102px; position: absolute; bottom: 0; left: 0; right: 0; margin: 0 auto; border-radius: 100px 100px 0 0; overflow: hidden;}
.arrow_up>img:nth-child(2){display: none;}
.arrow_up:hover>img:nth-child(1){display: none;}
.arrow_up:hover>img:nth-child(2){display: block;}

/* 스크롤 애니메이션 */
.main,.sub{position: relative;}

.scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
  @media (max-width: 1439px){
    #wrap{height: fit-content;}
    .inner{width: calc(1280 / 1440 * 100vw);}
    .web{width: calc(1280 / 1440 * 100vw);}
    .web_wrap{width: calc(1280 / 1440 * 100vw); margin: 45px auto 0; height: calc(900 / 1880 * 100vw );}
    .tab_wrap,.tab{width: calc(1024 / 1920 * 100vw);}
    .reaction{width: calc(1280 / 1440 * 100vw); margin: 0 auto;}
    .tab_wrap{height: calc(752 / 1920 * 100vw);}
    .mob_wrap,.mob{width: calc(375 / 1440 * 100vw);}
    .mob_wrap{height: calc(1020 / 1920 * 100vw);}
  }
  @media (max-width: 768px){
    .text>p>br{display: none;}
    .scroll-downs{display: none;}
    #wrap{height: calc(3100 / 670 * 100vw); border-bottom: none; min-height: 2850px;}
    .arrow_up{display: none;}
    .font p{font-size: calc(18 / 768 * 100vw);}
  }
  @media (max-width: 360px){
    .weight{margin: 0 10px 0 20px;}
  }